
* {
  box-sizing: border-box;
}

body {
  background-color:hsl(38.7,40.4%,90.8%);
  font-family: 'Kanit', sans-serif;
  line-height: 1.5;
  margin: 24px;
}

h1 {
  font-family: 'Architects Daughter', cursive;
  font-size: 52px;
  text-transform: capitalize;
  font-weight: bold;
  text-align: center;
  color: hsl(20.4,55.6%,51.4%); 
}

h2{
   font-family: 'Architects Daughter', cursive;
   font-size: 40px;
  font-weight: bold;
  color: hsl(39.6,98.7%,70.8%); 
  
  
}

h3{
  font-size:30px;  
}

h4{
  font-size:24px;
}

h6{
 font-size:16px; 
}

.u-list-reset {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.u-list-inline li {
  display: inline-block;
}



.talks {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.talk1 {
  padding-bottom:70px;
}

.talk2 {
  padding-bottom:70px;
}

.talk3 {
  padding-bottom:70px;
}

 
.form {
  list-style: none;
  margin: 0;
  padding-top:0;
  padding-left: 0;
  padding-bottom:30px;
  line-height: 2;
}


 
  .button-reset {
  background: transparent;
  border: 0;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  padding: 3px;
  text-align: left;  
  background-color:hsl(20.4,55.6%,51.4%) ;
  border: 2px solid hsl(282, 36%, 16%);
  color: white;
}

.button:hover,
.button:focus {
 color:hsl(39.6,98.7%,70.8%); ;
}


nav {
  font-size: 24px;
  text-align: center;
}

nav a {
  color: hsl(39.6,98.7%v,70.8%);
  border-radius: 2px;
  display: block;
  padding: 12px 0;
}

nav a:hover,
nav a:focus {
  color: hsl(20.4,55.6%,51.4%)
}


@media (min-width:375px) {
  body {
    background-color:hsl(38.7,40.4%,90.8%) ;
  }
  
  
@media (min-width:750px) {
  body {
    background-color: pink;
  }
  h2{color:purple;
  }

  nav li {
    display: inline-block;
  }

  nav li+li {
    margin-left: 12px;
  }
  
  
  .speaker-photo,
  .talk-information {
    display: inline-block;}
  .talk-information {
    padding-left:20px;
  }

  
  
   
}

@media (min-width:1200px) {

 body {
    background-color: teal;
  }
  h2{  color: hsl(39.6,98.7%,70.8%); 
  }
  nav {
    display: inline-block;
  }

  nav {
    text-align: center;
    width: calc(100% - 222px);
  }
  
  
}
  
  
  











